[submodule "renegade_random"]
	path = renegade_random
	url = https://github.com/renegadebbs/renegade_random.git
[submodule "Renegade.Random"]
	path = Renegade.Random
	url = https://github.com/renegadebbs/Renegade.Random.git
